.ta-visualization {
  .tick {
    color: $text-color;

    text {
      font-weight: $tick-font-weight;
    }

    &.date {
      color: $tick-text-color;

      text {
        fill: $tick-text-color;
      }
    }

    &.number {
      color: $tick-number-color;

      text {
        fill: $tick-number-color;
      }
    }

    &.text {
      color: $tick-text-color;

      text {
        fill: $tick-text-color;
      }
    }

    tspan {
      text-anchor: middle;
    }
  }

  .axis-x .tick {
    text-align: center;
  }

  .y-guide-line path {
    fill: none;
    stroke: $guide-line-color;
    stroke-width: 0.5;
  }

  .x-guide-line path {
    fill: none;
    stroke: $guide-line-color;
    stroke-width: 0.5;
  }

  .axis-y .axis-title {
    fill: $axis-label-color;
    font-size: $axis-label-font-size;
    text-anchor: middle;
  }

  .axis-y .domain {
    stroke: none;
  }

  .axis-y .tick {
    font-size: $font-size;
  }

  .axis-y .tick line {
    display: none;
  }

  .axis-x .axis-title {
    fill: $axis-label-color;
    font-size: $axis-label-font-size;
    text-anchor: middle;
  }

  .axis-x .domain {
    stroke: none;
  }

  .axis-x .tick {
    font-size: $font-size;
    text-anchor: middle;
  }

  .axis-x .tick line {
    display: none;
  }

  .legend {
    font-size: $font-size;

    text {
      fill: $text-color;
    }
  }

  .legend path {
    stroke-width: 2;
  }

  &.ta-visualization-narrow {
    .axis-x .tick,
    .axis-y .tick {
      font-size: 10px;
    }
  }
}
