.ta-visualization-filters {
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
  margin-left: 5%;

  .noUi-pips-horizontal {
    height: 40px;
  }

  html[dir="rtl"] & {
    direction: ltr;
  }

  .filter-button-group {
    display: inline-block;
    margin: 0 5px;
  }

  button {
    background: white;
    border: 1px solid #a7a7a7;
    border-right: none;
    color: #b7b7b7;
    cursor: pointer;
    font-size: $font-size;
    padding: 4px;
    text-transform: capitalize;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-right: 1px solid #a7a7a7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:focus {
      outline: 0;
    }

    &.selected {
      background: #a7a7a7;
      color: black;
    }
  }

  .filter-year {
    max-width: 400px;
    margin-bottom: 10px;

    .ta-visualization-narrowest & {
      max-width: 90%;

      .noUi-pips {
        display: none;
      }
    }
  }
}
