.ta-visualization-tooltip {
  background: white;
  border: 1px solid lightgray;
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
  padding: 3px;
  position: absolute;
  max-width: 250px;

  &.visible {
    display: block;
  }

  &.tooltip-country {
    .country-name {
      font-weight: bold;
    }
  }

  &.tooltip-point {
    .header {
      font-weight: bold;
    }
  }

  .header {
    font-weight: bold;
  }
}
