.treemap-chart {
  .leaf-label {
    font-size: 12px;
    font-weight: normal;
    pointer-events: none;
    text-anchor: middle;

    &-country {
      font-weight: bold;
    }

    &.hidden {
      opacity: 0;
    }
  }

  .small-country {
    cursor: pointer;

    text {
      font-family: sofia-pro, sans-serif;

      &:hover {
        font-weight: bold;
      }
    }
  }

  .country-hover {
    rect {
      stroke: #555;
    }
  }
}
