$export-font-size: 6px;
$standalone-font-size: 16px;

$guide-line-color: #EDE7DF;
$text-color: #585857;

$tick-number-color: $text-color;
$tick-text-color: $text-color;

$export-axis-label-font-size: 7px;
$standalone-axis-label-font-size: 7px;
$axis-label-color: #a29d98;
