@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '_variables';

.ta-visualization-standalone {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;

  text {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

$axis-label-font-size: $standalone-font-size;
$font-size: $standalone-font-size;
$tick-font-weight: bold;
$line-chart-line-stroke-width: 2.5px;

@import 'nouislider/distribute/nouislider';

@import '_chart';
@import '_pieChart';
@import '_lineChart';
@import '_map';
@import '_filters';
@import '_tooltip';
