@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '_variables';

*, text {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

$axis-label-font-size: $export-font-size;
$font-size: $export-font-size;

@import '_chart';
@import '_pieChart';
@import '_lineChart';
@import '_map';
