@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '_variables';

*, text {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tick {
  color: $text-color;

  &.date {
    color: $tick-text-color;

    text {
      fill: $tick-text-color;
    }
  }

  &.number {
    color: $tick-number-color;

    text {
      fill: $tick-number-color;
    }
  }

  &.text {
    color: $tick-text-color;

    text {
      fill: $tick-text-color;
    }
  }

  tspan {
    text-anchor: middle;
  }
}

.axis-x .tick {
  text-align: center;
}

.y-guide-line path {
  fill: none;
  stroke: $guide-line-color;
  stroke-width: 0.5;
}

.x-guide-line path {
  fill: none;
  stroke: $guide-line-color;
  stroke-width: 0.5;
}

.axis-y .axis-title {
  fill: $axis-label-color;
  font-size: $axis-label-font-size;
  text-anchor: middle;
}

.axis-y .domain {
  stroke: none;
}

.axis-y .tick {
  font-size: $export-font-size;
}

.axis-y .tick line {
  display: none;
}

.axis-x .axis-title {
  fill: $axis-label-color;
  font-size: $axis-label-font-size;
  text-anchor: middle;
}

.axis-x .domain {
  stroke: none;
}

.axis-x .tick {
  font-size: $export-font-size;
  text-anchor: middle;
}

.axis-x .tick line {
  display: none;
}

.legend {
  font-size: $export-font-size;

  text {
    fill: $text-color;
  }
}

.legend path {
  stroke-width: 2;
}

// Import specific charts here so we can override above styles
@import '_pieChart';
@import '_lineChart';
